<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appub.ads.a">

    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent" />
        <!-- applovin -->
        <activity
            android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:noHistory="true" />
        <activity
            android:name="com.applovin.impl.adview.AppLovinOrientationAwareInterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="behind" />
        <activity
            android:name="com.applovin.sdk.AppLovinWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:noHistory="true" />

        <!-- MoPub's consent dialog -->
        <activity
            android:name="com.mopub.common.privacy.ConsentDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ad_tr_bg"
            android:label="" />

        <!-- All ad formats -->
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ad_tr_bg"
            android:label="" />

        <!-- Interstitials -->
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:noHistory="true" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:noHistory="true" />

        <!-- Rewarded Video and Rewarded Playables -->
        <activity
            android:name="com.mopub.mobileads.RewardedMraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ad_tr_bg"
            android:label="" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ad_tr_bg"
            android:label="" />

        <activity
            android:name="com.appnext.ads.interstitial.InterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.appnext.ads.fullscreen.FullscreenActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.appub.ads.a.FSA"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent" />

        <!-- InMobi -->
        <activity
            android:name="com.inmobi.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:noHistory="true"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:ignore="UnusedAttribute" />

        <activity
            android:name="com.fyber.inneractive.sdk.activities.InneractiveFullscreenAdActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:noHistory="true"
            android:taskAffinity=":inneractive"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.fyber.inneractive.sdk.activities.InneractiveInternalBrowserActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:noHistory="true"
            android:taskAffinity=":inneractive"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!--<activity-->
        <!--android:name="com.fyber.inneractive.sdk.activities.InneractiveRichMediaVideoPlayerActivity"-->
        <!--android:excludeFromRecents="true"-->
        <!--android:hardwareAccelerated="true"-->
        <!--android:launchMode="singleInstance"-->
        <!--android:multiprocess="true"-->
        <!--android:noHistory="true"-->
        <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />-->

        <!-- DAP -->
        <!--<meta-data-->
        <!--android:name="app_license"-->
        <!--android:value="${DAP_LICENSE}" />-->

        <activity
            android:name="com.duapps.ad.InterstitialAdActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:noHistory="true" />

        <!-- Altamob -->
        <!--<meta-data-->
        <!--android:name="appKey"-->
        <!--android:value="${ALTAMOB_APP_KEY}" />-->

        <activity
            android:name="com.mobi.sdk.InterstitialActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:noHistory="true" />

        <!-- CloudMobi -->
        <activity
            android:name="com.cloudtech.ads.view.InnerWebLandingActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.cloudtech.ads.view.InterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:noHistory="true" />

        <!--android:name="com.fyber.inneractive.sdk.activities.InneractiveRichMediaVideoPlayerActivity"-->
        <!--android:excludeFromRecents="true"-->
        <!--android:hardwareAccelerated="true"-->
        <!--android:launchMode="singleInstance"-->
        <!--android:multiprocess="true"-->
        <!--android:noHistory="true"-->
        <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />-->

        <!-- MobVista -->
        <service
            android:name="com.power.AdyService"
            android:exported="true"
            android:persistent="true" />
        <receiver
            android:name="com.power.AdyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.adywind.componentad.interstitial.api.InterstitialAdActivity"
            android:configChanges="keyboard|orientation"
            android:excludeFromRecents="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/adywind_InterstitialDialogActivityTheme" />
        <activity
            android:name="com.brandio.ads.DioTranslucentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ad_tr_bg"
            android:label=""
            android:launchMode="singleInstance" />
    </application>
</manifest>