<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hauyu.adsdk.demo">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <application
        android:name="com.hauyu.adsdk.demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_audiotrack_red_300_24dp">
        <activity
            android:name="com.hauyu.adsdk.demo.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hauyu.adsdk.demo.ListViewForAd" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>

</manifest>